<template>
  <div class="home">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
     <FormsName> 
     </FormsName>
    
  </div>
</template>

<script>
// @ is an alias to /src
import FormsName from '@/components/FormsName.vue'

export default {
  name: 'Home',
  components: {
    FormsName
  }
}
</script>
