<template>
  <div class="container">
    <md-card class="container-card">
      <p class="card-title">Datos Personales</p>
      <div class="card-avatar">
        <md-avatar class="md-avatar-icon">
          <img src="../assets/user.svg" alt="People" />
        </md-avatar>
      </div>
      <div class="container-form">
        <form class="form-form">
          <div class="form-field1">
            <md-field class="field1-name">
              <md-input  @input="changed" v-on:blur="saveName()" placeholder="Nombre*"></md-input>
            </md-field>
            <md-field class="field1-secondName">
              <md-input  placeholder="Apellidos"></md-input>
            </md-field>
          </div>
          <RadioGenero class="form-genero"></RadioGenero>
          <div class="form-field2">
            <md-field class="field2-typeIdent">
              <md-select v-model="type" name="type" id="type" placeholder="Tipo de identificación">
                <md-option value="INE">INE/DNI</md-option>
                <md-option value="Cedula">Cedula</md-option>
                <md-option value="Pasport">Pasaporte</md-option>
                <md-option value="CardDriver">Licencia de manejo</md-option>
              </md-select>
            </md-field>
            <md-field class="field2-numberCard">
              <md-input v-model="numberCard" placeholder="Número de identificación"></md-input>
            </md-field>
          </div>
          <P class="form-add">AGREGAR OTRA IDENTIFICACIÓN</P>
          <p class="form-subTitle">Tipo de sangre</p>
          <TypeBlood class="form-blood"></TypeBlood>
          <p class="form-title">Datos de contacto</p>
          <div class="form-field3">
            <md-field class="field3-type">
              <md-select v-model="type" name="type" id="type" placeholder="T">
                <md-option value="1">T</md-option>
                <md-option value="2">C</md-option>
              </md-select>
            </md-field>
            <md-field class="field3-clave">
              <md-select v-model="type" name="type" id="type" placeholder="lada">
                <md-option value="1">+506</md-option>
                <md-option value="2">+52</md-option>
              </md-select>
            </md-field>
            <md-field class="field3-number">
              <md-input v-model="number" placeholder="Teléfono"></md-input>
            </md-field>
            <md-field class="field3-email">
              <md-input v-model="email" placeholder="Correo électronico"></md-input>
            </md-field>
          </div>
          <P class="form-add">AGREGAR OTRO TELÉFONO</P>

        </form>
      </div>
    </md-card>
  </div>
</template>
<script>
import RadioGenero from "./RadioGenero.vue";
import TypeBlood from "./TypeBlood.vue";

export default {
  name: "FormsName",
  props : ["items"],
  components: {
    RadioGenero,
    TypeBlood
  },
  data: () => ({
    valueName: null,
    valueSecondName: null,
    type: null,
    numberCard: null,
    number: null,
    email: null
  }),
  methods: {
    changed: function(event){
      this.$store.commit('change', event)
    },
    saveName(){
      console.log(event.target.value);
       localStorage.setItem("data information", event.target.value);
      
    }
  }
};
</script>

<style lang="scss" scope>
p {
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  .container-card {
    width: 70%;
    flex-direction: row;
    margin-top: 30px;
    .card-title {
      font-weight: bold;
      display: flex;
      padding-left: 20px;
      margin-top: 20px;
    }
    .card-avatar {
      padding-left: 20px;
      position: absolute;
      margin-top: 10px;
    }
  }
  .container-form {
    flex-direction: row;
    .form-form {
      margin-top: -20px;
      margin-left: 20px;
      margin-right: 20px;

      .form-field1 {
        display: flex;
        justify-content: space-around;
        margin-left: 60px;
        .field1-name {
          width: 37%;
        }
        .field1-secondName {
          width: 50%;
        }
      }
      .form-genero {
        justify-content: flex-start;
        margin-left: 80px;
      }
      .form-add{
        display: flex;
        font-weight: bold;
        color:  #49e9ff;
        font-size: 12px;
        margin-bottom: 20px;
      }
      .form-field2 {
        display: flex;
        justify-content: flex-start;
        .field2-typeIdent {
          width: 45%;
        }
        .field2-numberCard {
          width: 45%;
          margin-left: 45px;
        }
      }
      .form-subTitle {
        display: flex;
        margin-bottom: 5px;
        font-size: 12px;
        color: gray;
      }
      .form-title {
        font-weight: bold;
        display: flex;
        margin-top: 20px;
      }
      .form-blood {
        justify-content: flex-start;
      }
      .form-field3 {
        display: flex;
        justify-content: space-around;
        .field3-type {
          width: 5%;
        }
        .field3-clave {
          width: 10%;
        }
        .field3-number {
          width: 30%;
        }
        .field3-email {
          width: 47%;
        }
      }
    }
  }
}
</style>