<template>
  <div class="container">
    <div class="container-genero">
      <div class="genero">
        <label for="female">
          <input id="female" type="radio" name="gender" value="female" />
          <div class="genero-item">
            <img class="item-icon" src="../assets/f.svg" alt="female" />
            <p class="icon-title">Femenino</p>
          </div>
        </label>
      </div>
      <div class="genero">
        <label for="male">
          <input id="male" type="radio" name="gender" value="male" />
          <div class="genero-item">
            <img class="item-icon" src="../assets/male.svg" alt="male" />
            <p class="icon-title">Mascuilino</p>
          </div>
        </label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "RadioGenero",
  data: () => ({})
};
</script>

<style lang="scss" scoped>
.container {
  .container-genero {
    display: flex;
    input {
      display: none;
    }
    .genero {
      &:first-child {
        margin-right: 20px;
      }
      label {
        .genero-item {
          display: flex;
          height: 20px;
          width: 90px;
          justify-content: space-around;
          align-items: center;
          border: 1px solid #000;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
          .item-icon {
            width: 10px;
            .icon-title {
              font-size: 8px;
            }
          }
        }
        input {
          &:checked {
            + .genero-item {
              border: 1px solid transparent;
              background-color: #49e9ff;
              color: white;
            }
          }
        }
      }
    }
  }
}
</style>