<template>
  <div class="container">
 
    <div class="container-blood">
      <div class="blood">
        <label for="oP">
          <input id="oP" type="radio" name="blood" value="oP" />
          <div class="blood-item">
            <p class="icon-title">O+</p>
          </div>
        </label>
      </div>
      <div class="blood">
        <label for="oN">
          <input id="oN" type="radio" name="blood" value="oN" />
          <div class="blood-item">
            <p class="icon-title">O-</p>
          </div>
        </label>
      </div>
      <div class="blood">
        <label for="aP">
          <input id="aP" type="radio" name="blood" value="aP" />
          <div class="blood-item">
            <p class="icon-title">A+</p>
          </div>
        </label>
      </div>
      <div class="blood">
        <label for="aN">
          <input id="aN" type="radio" name="blood" value="aN" />
          <div class="blood-item">
            <p class="icon-title">A-</p>
          </div>
        </label>
      </div>
       <div class="blood">
        <label for="bP">
          <input id="bP" type="radio" name="blood" value="bP" />
          <div class="blood-item">
            <p class="icon-title">B+</p>
          </div>
        </label>
      </div>
       <div class="blood">
        <label for="bN">
          <input id="bN" type="radio" name="blood" value="bN" />
          <div class="blood-item">
            <p class="icon-title">B-</p>
          </div>
        </label>
      </div>
       <div class="blood">
        <label for="abP">
          <input id="abP" type="radio" name="blood" value="abP" />
          <div class="blood-item">
            <p class="icon-title">AB+</p>
          </div>
        </label>
      </div>
      <div class="blood">
        <label for="abN">
          <input id="abN" type="radio" name="blood" value="abN" />
          <div class="blood-item">
            <p class="icon-title">AB-</p>
          </div>
        </label>
      </div>
        <div class="blood">
        <label for="unknow">
          <input id="unknow" type="radio" name="blood" value="unknow" />
          <div class="blood-unknow">
            <p class="icon-title">Desconocido</p>
          </div>
        </label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "TypeBlood",
  data: () => ({})
};
</script>

<style lang="scss" scoped>
.container {
  .container-blood {
    display: flex;
    input {
      display: none;
    }
    .blood {
      // &:first-child {
      margin-right: 5px;
      // }
      label {
        .blood-item {
          display: flex;
          height: 25px;
          width: 30px;
          justify-content: space-around;
          align-items: center;
          border: 1px solid #000;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }
        .blood-unknow{
           display: flex;
          height: 25px;
          width: 90px;
          justify-content: space-around;
          align-items: center;
          border: 1px solid #000;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }
        input {
          &:checked {
            + .blood-item {
              border: 1px solid transparent;
              background-color: #49e9ff;
              color: white;
            }
            + .blood-unknow {
              border: 1px solid transparent;
              background-color: #49e9ff;
              color: white;
            }
          }
        }
      }
    }
    .icon-title {
      font-size: 11px;
    }
  }
}
</style>